<!DOCTYPE html>
<html>
<head>

{{! Document Settings }}
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
 
{{! Page Meta }}
<title>{{meta_title}}</title>
<link rel="shortcut icon" href="{{asset "/favicon.png"}}">
<meta name="description" content="{{meta_description}}" />
    
{{> custom/meta this}}
	 
{{! Styles }}
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700,700italic|Noto+Serif:400,400italic,700,700italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="{{asset "css/style.css"}}" />
<link rel="stylesheet" type="text/css" href="{{asset "css/jPushMenu.css"}}" />
<link rel="stylesheet" type="text/css" href="{{asset "css/font-awesome.min.css"}}" />
    
{{! jQuery }}
<script type="text/javascript" src="{{asset "js/jquery-1.9.1.min.js"}}"></script>
<script type="text/javascript" src="{{asset "js/headroom.min.js"}}"></script>

{{! Header scroll effect }} 
<script>
  (function($) {
    var ost = 0;
    $(window).scroll(function() {
      var cOst = $(this).scrollTop();

      if(cOst > 100 && cOst > ost) {
         $('#header').addClass('fixed').removeClass('default');
      }
      else {
         $('#header').addClass('default').removeClass('fixed');
      }

      ost = cOst;
    });
  })(jQuery);
</script>  

{{! Slide and Push Menu }}
<script type="text/javascript" src="{{asset "js/jPushMenu.js"}}"></script>
<script>
jQuery(document).ready(function($) {
	$('.toggle-menu').jPushMenu();
});
</script>


{{! Responsive Meta Tags }}
<meta name="HandheldFriendly" content="True" />
<meta name="MobileOptimized" content="320" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />     

{{ghost_head}}    

</head>

<body class="{{body_class}}">
    
	{{{body}}}
    
	
	{{ghost_foot}}


{{! Disqus comments }}
<script type="text/javascript">
    var disqus_shortname = 'example'; // required: replace example with your Disqus shortname
    
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>

{{! Other scripts }}
<script type="text/javascript" src="{{asset "js/readingTime.min.js"}}"></script>   
<script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
<script type="text/javascript" src="{{asset "js/index.js"}}"></script>
    
<script>
    (function($) {
    var header = document.querySelector(".super-header");
 
new Headroom(header, {
  tolerance: {
    down : 2,
    up : 5
  },
  offset : 100,
  classes: {
    initial: "slide",
    pinned: "slide--reset",
    unpinned: "slide--up"
  }
}).init();
    })(jQuery);
</script> 

</body>
</html>