{{!< default}}
{{#post}}
<header id="header" class="default {{#if image}}super-header{{/if}}">
    <button class="toggle-menu menu-left push-body">
        <i class="fa fa-bars"></i>

            {{#if @blog.logo}}
                <a class="logo_purus" href="{{@blog.url}}">
                    <img src="{{@blog.logo}}" alt="{{@blog.title}}" />
                </a>
            {{/if}}
    </button> 
     
        {{#if author}}
            <div class="header-author_purus">
                {{#if author.image}}
                    <div class="authorimage_purus" style="background-image: url({{author.image}})"></div>
                {{/if}}
                <h4 class="authorname_purus"><a href="{{@blog.url}}/author/{{author.slug}}">{{author.name}}</a></h4>
            </div> 
        {{/if}}
        <div class="post-reading-time"></div>
</header>

{{> menu}}

<main role="main">
   
    <article class="article_purus">
        
        <header class="postheader_purus {{#if image}} img-fullpage" style="background-image: url({{image}}){{else}}no-cover{{/if}}" >
            <div class="vertical_purus">
                <div class="inner_purus">
                    <h1 class="posttitle_purus">{{title}}</h1>
                </div>
            </div>
        </header>
           <div class="wrapper_purus">
                <div class="postcontent_purus">
                    {{content}}
                </div>

                <footer class="article-footer_purus">
                {{#if author}}
                    <section class="written-by_purus">
                        <h6>Written by</h6>
                        <div class="footerflex_purus">
                            {{#if author.image}}
                                <div class="authorimage_purus" style="background-image: url({{author.image}})"></div>
                            {{/if}}
                            <div class="about-author_purus">
                                <h4 class="authorname_purus"><a href="{{@blog.url}}/author/{{author.slug}}">{{author.name}}</a></h4>
                                <p class="authorbio_purus">{{author.bio}}</p>
                                    {{#if author.location}}
                                        <h5>{{author.location}}</h5>
                                    {{/if}}
                                    {{#if author.website}}
                                        <h5><a href="{{author.website}}" itemprop="url">{{author.website}}</a></h5>
                                    {{/if}}
                            </div>
                        </div>
                    </section>
                {{/if}}
                {{#if tags}}
                    <section class="tags-post_purus">
                        <h6>Tags</h6>
                        <span>{{tags separator=""}}</span>
                    </section>
                {{/if}}
                </footer>
             </div>
    </article>
    <div class="wrapper_purus">
<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="//miniumphone.us8.list-manage.com/subscribe/post?u=d4d45072db7e95b1b7ae47ec8&amp;id=0ac495dfe1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<center><label for="mce-EMAIL">Here:</label></center>
	<center><input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required><center>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <center><div><input type="text" name="b_d4d45072db7e95b1b7ae47ec8_0ac495dfe1" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div></center>
</form>
<!-- End MailChimp Signup Form -->
</div>
    
        
            <div class="wrapper_purus">
            <div>
            <hr>
            </div>
                <div class="disqusbox_purus">

                    <div id="disqus_thread"><form onsubmit="my.loadDisqus();return false;" class=formBlock><input class="cmd_purus" type=submit value="Load Comments"></form>
                    </div>

                    {{! Disqus comments }}
                    <script type="text/javascript">
                    var disqus_shortname = 'example'; // required: replace example with your Disqus shortname

                    /* * * DON'T EDIT BELOW THIS LINE * * */
                    var disqus_url = "{{url absolute="true"}}";
                    var disqus_identifier = '{{post.id}}';
                    var my = my || {};
                    my.loadDisqus = function() {
                        var dsq = document.createElement('script');
                        dsq.type = 'text/javascript';
                        dsq.async = true;
                        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                    };
                    </script>

                    <noscript>Please enable javascript to <a rel="nofollow" href="http://disqus.com/?ref_noscript">discus this page, powered by Disqus.</a></noscript>
                    <style scoped=scoped>
                    @media print{
                     .disqusbox{display:none}
                    }
                    </style>
                </div>
            </div>
</main>

</div>

<aside class="read-next_purus">
        {{#next_post}}
            <a class="frame-article_purus next-story_purus" href="{{url}}">
                <section>
                    <h2>{{title}}</h2>
                    <p>{{excerpt words="19"}}&hellip;</p>
                    <time>{{date format='DD MMM YYYY'}}</time>
                </section>
                {{#if image}}<div style="background-image: url({{image}})"></div>{{/if}}
            </a>
        {{/next_post}}
        {{#prev_post}}
            <a class="frame-article_purus prev-story_purus" href="{{url}}">    
                <section>
                    <h2>{{title}}</h2>
                    <p>{{excerpt words="19"}}&hellip;</p>
                    <time>{{date format='DD MMM YYYY'}}</time>
                </section>
                {{#if image}}<div style="background-image: url({{image}})"></div>{{/if}}
            </a>
        {{/prev_post}}
</aside>

<footer class="main-footer_purus" style="background-image: url({{author.cover}})">
    <div class="wrapper-footer_purus">
        <div class="center-footer_purus">
            <h6>Share this post</h6>
            <a target="_blank" href="https://twitter.com/share?text={{title}}&url={{url absolute="true"}}"><i class="fa fa-twitter"></i><span class="hidden_purus">Twitter</span></a> 
            <a target="_blank" href="https://www.facebook.com/sharer.php?u={{url absolute="true"}}"><i class="fa fa-facebook"></i><span class="hidden_purus">Facebook</span></a>
            <a target="_blank" href="https://plus.google.com/share?url={{url absolute="true"}}"><i class="fa fa-google-plus"></i> <span class="hidden_purus">Google+</span></a>
        </div>
    {{/post}} 
    </div>

{{> footer}} 
</footer>